@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: 'Inconsolata', monospace;
  line-height: 1.25;
  background: #303179;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  box-sizing: content-box;
  padding: 2rem;
  background: #fff;
  width: 60rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 1rem #25265e;
}

header {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.7rem;
}

span {
  background: none;
}

span.wrong {
  background: #ed7966;
}

span.typing {
  background: #fae5df;
}

input[type="text"] {
  font-family: 'Inconsolata', monospace;
  width: 100%;
  margin-top: 1rem;
  padding: .3rem;
  font-size: 1.7rem;
}

.result-container {
  margin-top: 1.6rem;
}

.result {
  line-height: 1.8;
  font-size: 1.6rem;
}

.hidden, .hidden th, .hidden td {
  display: none;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  max-height: 20rem;
}

th {
  background: #ff7f5c;
}

table, th, td {
  border: 1px solid black;
  font-size: 1.4rem;
}

th, td {
  padding: .5rem;
}
